.display-forecast {
	position: relative;
	width: 100%;
	/* height: 585px; */
	display: flex;
	flex-direction: column;
	animation: fade 1s;
}

.data-section {
	width: 100%;
	height: 100%;
	font-size: 17px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(255, 255, 255, .8);
	box-shadow: 0px 5px 20px -7px #000000;
}

.data-section__wrapper {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
	margin: 2px auto;
	width: 100%;
	border: 1px solid #fff;
	outline: none;
	text-transform: capitalize;
	text-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: rgba(255, 255, 255, .8);
}

.data-section__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.data-section__content:nth-child(1) {
	text-align: left;
}

.data-section__content:nth-child(2) {
	text-align: center;
}

.data-section__content:nth-child(3) {
	text-align: left;
}

.data-section__content:nth-child(4) {
	padding-right: 5px;
}

.data-section__content img {
	transform: scale(1);
}

.graph-section {
	height: 205px;
	margin: 20px auto;
	text-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
}

.btn-details__wrapper {
	margin-top: -8px;
}

.btn-direction i {
	font-size: 1.4em;
	border: none;
	outline: none;
	color: #fff;
	background-color: transparent;
	text-shadow: 0 0 3px #7a3cc7;
	cursor: pointer;
	-moz-transform-origin: right;
	transform-origin: right;
	-webkit-animation: horizontalSlide 1s infinite alternate;
	animation: horizontalSlide .3s infinite alternate;
}

.btn-info,
.btn-info__annex {
	position: relative;
	padding: 8px;
	border: 2px solid #fff;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, .8);
	outline: none;
	cursor: pointer;
	text-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
	box-shadow: 0px 5px 20px -10px #000000;
	transition: all 1s;
	width: 100%;
	-webkit-animation: highlight 10s infinite alternate;
	animation: highlight 10s infinite alternate;
}

.btn-info__annex {
	-webkit-animation: highlight 20s infinite alternate;
	animation: highlight 20s infinite alternate;
}

.btn-info:hover,
.btn-info__annex:hover {
	transform: translateY(-4px);
	color: #516 !important;
	background-color: transparent !important;
	border-color: #516 !important;
	box-shadow: 0 0 3px #516 !important;
}
